default:
    suites:
        default:
            contexts:
                - App\Tests\Behat\FormContext

    extensions:
        FriendsOfBehat\SymfonyExtension:
            kernel:
                path: tests/bootstrap.php
